<div class="container bgimg" align="center">
	<div>
		<img src="/assets/logo.png" class="logo">
	</div>
	<div class="thanks-phrase">
		Thanks! A professional financial consultant will contact you soon.
	</div>
</div>
<div class="container" align="center">
	<img src="/assets/logos.png" class="logos" style="margin-top: -75px;">
</div>