<% content_for :head do %>
 <script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6012456584340';
fb_param.value = '0.00';
(function(){
 var fpw = document.createElement('script');
 fpw.async = true;
 fpw.src = '//connect.facebook.net/en_US/fp.js';
 var ref = document.getElementsByTagName('script')[0];
 ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012456584340&amp;value=0" /></noscript>
<% end %>

<div class="container bgimg" align="center">
	<div>
		<img src="/assets/logo.png" class="logo">
	</div>
	<div class="thanks-phrase">
		Thanks! A professional financial consultant will contact you soon.
	</div>
</div>
<div class="container" align="center">
	<img src="/assets/logos.png" class="logos" style="margin-top: -75px;">
</div>